<!DOCTYPE html>

<html ng-app="employeeView">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../lib/angular/angular-csp.css" />
    <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.grid.css" />
    <link rel="stylesheet" href="../lib/bootstrap/css/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="../lib/angular/angular-datepicker.css"/>
    <!--<link rel="stylesheet" href="../lib/angular/ng-table.min.css" />-->
    <link rel="stylesheet" href="../lib/angular/ng-table.css" />
    <link href="../css/ebs.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet" />
</head>

<body  ng-controller="employeeViewController" style="overflow-y: scroll; ">
    <h1>Employment Data</h1>
   <div class="col-xs-8  scrollable-area">
        <form name="myGrid" method="post">
            <fieldset style="overflow-y: scroll; height:300px;" >
                <legend>Employees</legend>
                <table ng-table="employeeTable"  class="table table-bordered table-striped">
                    <tr ng-repeat="emp in employeeList">
                        <td title="'#'">{{$index+1}}</td>
                        <td title="'Name'">{{emp.Name.lastName}}, {{emp.Name.firstName}} &nbsp;{{emp.Name.middle}} &nbsp; </td>
                        <td title="'Email'">{{emp.email}}</td>
                        <td title="'Phone'"> {{emp.phone}} </td>
                        <td title="'Date Hired'"> {{emp.dateHired}} </td>
                        <td title="'Position'"> {{emp.position}} </td>
                        <td title="'Active'"> {{emp.active}} </td>

                        <td><a href="#" class="button" ng-click="editEmployee(emp)">Edit</a></td>
                        <td><a href="#" class="button" ng-click="deleteEmployee($index)" ng-confirm-click="You are about to delete this record!">Delete</a></td>
                    </tr>
                </table>
                <br />
            </fieldset>
        </form>

</div>

    <div class="col-xs-12  entry-form">
        <br />
        <br />
        <div>Please use the following form to update or add a new Employee:</div>
        <br />
        <form name="myForm" method="post">
            <div class="col-xs-8">
                <fieldset>
                    <legend>Employee Entry Form</legend>
                    <div class="container" id="userContainer">
                        <div class="row">
                            <div class="col-xs-3" style="float: left"><label class="ebs-label"><span class="ebs-required-field">*</span>First Name:</label></div>
                            <div class="col-xs-3" style="float: left"><input type="text" name="firstname" id="firstname" ng-model="firstName" style="width: 200px" class="k-textbox"  maxlength="150" required /></div>
                            <div style="float: left">
                                <div style="float: left; width: 30px">
                                    <label class="ebs-label">MI:</label>
                                </div>
                                <div class="col-xs-1" style="float: left">
                                    <input type="text" id="middle" ng-model="middle" style="width: 50px" maxlength="1" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label"><span class="ebs-required-field">*</span>Last Name:</label></div>
                            <div class="col-xs-4"><input type="text" id="lastname" ng-model="lastName" ng-model-instant  class="k-textbox" maxlength="128" required /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label"><span class="ebs-required-field">*</span>Email Address:</label></div>
                            <div class="col-xs-4"><input type="text" id="email" ng-model="email" ng-model-instant  class="k-textbox" maxlength="128" required /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">Phone:</label></div>
                            <div class="col-xs-4"><input type="text" id="phone" ng-model="phone" pattern="\d{10}" class="k-textbox" maxlength="10" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label"><span class="ebs-required-field">*</span>Date Hired:</label></div>
                            <div class="col-xs-3">
                                <datepicker date-format="yyyy-MM-dd"><input type="text" placeholder="Choose a date" id="dateHired" ng-model="dateHired" style="width: 175px" ng-message="Date Hired is required" ng-required="true" /></datepicker>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">Address1:</label></div>
                            <div class="col-xs-4"><input type="text" id="address1" ng-model="address1" ng-model-instant  class="k-textbox" maxlength="128" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">Address2:</label></div>
                            <div class="col-xs-4"><input type="text" id="address2" ng-model="address2" ng-model-instant  class="k-textbox" maxlength="128" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">City:</label></div>
                            <div class="col-xs-4"><input type="text" id="city" ng-model="city" ng-model-instant class="k-textbox"  maxlength="12" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">State:</label></div>
                            <div class="col-xs-4"><input type="text" id="state" ng-model="state" ng-model-instant  /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">Zip Code:</label></div>
                            <div class="col-xs-4"><input type="text" id="zip" ng-model="zip" pattern="\d{5}" ng-model-instant maxlength="5" ng-confirm-click="You are about to delete this record!" /></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label">Position Category:</label></div>
                            <div class="col-xs-4">
                                <select id="position" typeof="number" checked ng-model="position" ng-model-instant class="k-textbox">
                                    <option value="Indirect">Indirect</option>
                                    <option value="Direct">Direct</option>
                                    <option value="Program Manager">Program Manager</option>
                                    <option value="Director">Director</option>
                                    <option selected="selected" value="Executive">Executive</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><label class="ebs-label"><span class="ebs-required-field">*</span>Active Flag:</label></div>
                            <div class="col-xs-4"><input type="checkbox" id="active" ng-model="active" ng-model-instant ng-checked="true" /></div>
                        </div>
                        <br />
                        <input type="submit" value="Save" ng-click="saveEmployee()" />
                        <button class="button" ng-click="clearForm()"><i class="k-button-icontext"></i>  Clear</button>
                    </div>
                </fieldset>
            </div>

        </form>
    </div>

    <script src="../lib/jquery/jquery-2.1.4.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular/angular-datepicker.js"></script>
    <script src="../lib/bootstrap/js/bootstrap.js"></script>
    <!--<script src="../lib/bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="../lib/bootstrap/js/ui-bootstrap.min.js"></script>-->
    <script src="../lib/bootstrap/js/ui-bootstrap-tpls.js"></script>
    <!--<script src="../lib/bootstrap/js/bootstrap-modal.js"></script>-->
    <script src="../lib/angular/ng-table.js"></script>
    <!--<script src="../lib/angular/ng-table.min.js"></script>-->
    <script src="../js/employeeView.js"></script>

</body>
</html>
